.hikes-filter {
  margin-bottom: 1rem;
  padding: 0 1rem;
  color: black;
}

.hikes-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hikes-filter label {
  font-weight: bold;
}

.hikes-filter select {
  padding: 0.5rem 3rem;
  font: inherit;
  font-weight: bold;
  text-align: right;
  border: none;
  border-radius: 6px;
}