.hike-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 0;
  padding: 0.5rem;

  background-color: var(--color__accent--light);
}

.hike-item__description {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-flow: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}

.hike-item h2 {
  flex: 1;

  margin: 0 1rem;

  color: black;
  font-size: 1rem;
}

.hike-item__mileage {
  padding: .5rem;
  background-color: var(--color__base--red);
  color: white;
  font-weight: bold;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .hike-item__description {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .hike-item__description h2 {
    font-size: 1.25rem;
  }

  .hike-item__mileage {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}