@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
:root {
  --color__bg: #37525C;
  --color__base--green: #62B6A0;
  --color__base--red: #EE5150;
  --color__accent--dark: #E1B48C;
  --color__accent--light: #F7EDD5;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: var(--color__bg);
}

