form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.new-hike__controls {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  gap: 1rem;
  text-align: left;
}

.new-hike__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
} 

.new-hike__control input {
  font: inherit;
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
}

.new-hike__control--text {
  width: 100%;
}

.new-hike__control--text input {
  width: 100%;
}

.new-hike__control--number input {
  max-width: 6rem;
}

.new-hike__control--date input {
  max-width: auto;
}

.new-hike__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: right;
}

.new-hike__actions button {
  padding: .5rem 1.5rem;
  background-color: hsl(0, 82%, 70%);
  color: white;
  font: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.new-hike__actions button:hover,
.new-hike__actions button:active {
  background-color: var(--color__base--red);
}

.new-hike__actions button:disabled {
  background-color: var(--color__base--red);
}

.new-hike__actions button.alternative {
  color: hsl(24, 40%, 20%);
  background-color: transparent;
}

.new-hike__actions button.alternative:hover,
.new-hike__actions button.alternative:active {
  background-color: hsl(24, 40%, 24%);
}
